<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="vi">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Demo ReactJS Server</title>
</head>
<body>
    <h1>ReactJS server-side Rendering</h1>
    <div id="root"></div>
    <script src="bundle.js"></script>
</body>
</html>